
# /etc/systemd/system/jenkins-proxy.service

[Unit]
Requires=jenkins.service
After=jenkins.service

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:8080
PrivateTmp=yes
